

.posts{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin: 0 20px;
}

/******* post input *********/

.post__input{
    display: flex;
    flex-direction: column;
    padding:10px;
    width: 100%;
    height:fit-content;
    background-color:white; 
    border-radius:10px;
    border: 1px solid lightgrey;
    

}

.post__input p{
    color:#6B8295;
}

.upper__postInput{
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}

.upper__postInput > img {
    height: 50px;
    object-fit: contain;
    border-radius:50%;
}

.upper__postInput > form {
    display: flex;
    width:90%;
}

.upper__postInput >form > input{
    height: 50px;
    border-radius:50px;
    border: 1px solid grey;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    outline: none;
    font-weight: bold;
    color: #5E5E5E;
    margin: 0 10px;
    flex: 1;
}

.upper__postInput >form > button {
    display: none
}

.upper__postInput > input:hover{
    background-color:#EBEBEB;
}

.down__postInput {
    display: flex;
    justify-content:space-between; 
    margin-top:10px;   
}

.post__type{
    display: flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    padding: 10px 10px;
    transition: ease 0.2s all;
}

.post__type:hover{
    background-color: #EBEBEB;
}

.post__type > p {
    margin-left: 10px;
    font-size:0.85rem;
    font-weight: bold;
    text-transform: capitalize;
}

/******** sort line *******/


.sort__posts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    text-transform: capitalize;
    cursor: pointer;
}

.sort__posts > hr{
    width:80%;
    background-color: lightgray;
}

.sort__posts > p{
    margin-left: 12px;
    font-weight: 400;
    font-size: 0.8rem;
    color: #9A949D;
}

.sort__posts > p > span {
    font-weight: bold;
    color: #5E5E5E;
}  


/******** single post *******/

.singlePost{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius:10px;
    border: 1px solid lightgrey;
}

.post__info{
    display: flex;
    justify-content:space-between;
    margin-bottom:10px;
    
}

.left__post{
    display: flex;
    text-transform: capitalize;
    align-items: center;
}

.author__info p{
    font-size: 0.8rem;
    color: #6B8295;
}

.left__post > .author__info{
    margin-left:10px;
}

.left__post > .author__info > h4 {
    font-size:0.9rem;
}

.extra__info{
    display: flex;
    align-items: center;
}

.extra__info > p{
    margin-right: 5px;
}

.main__post {
    font-size: 1rem;
    color: #191919;
    padding:20px 0;
    border-bottom: 1px solid lightgrey;
}

.social__options{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}






