@import url('./components/header/Header.css');
@import url('./components/home/home.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}